*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/magicindicator/build/
/ocr_ui/build/
.idea/caches/gradle_models.ser
.idea/inspectionProfiles/
magicindicator/build/generated/res/
magicindicator/build/generated/source/apt/
magicindicator/build/generated/source/rs/
magicindicator/build/intermediates/check-manifest/
magicindicator/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
magicindicator/build/intermediates/incremental/packageDebugResources/merged.dir/
magicindicator/build/intermediates/incremental/packageDebugResources/stripped.dir/
magicindicator/build/intermediates/intermediate-jars/debug/jni/
magicindicator/build/intermediates/jniLibs/
magicindicator/build/intermediates/library_assets/
magicindicator/build/intermediates/public_res/
magicindicator/build/intermediates/rs/
magicindicator/build/intermediates/shader_assets/
magicindicator/build/intermediates/shaders/
magicindicator/build/tmp/
ocr_ui/build/generated/res/
ocr_ui/build/generated/source/apt/
ocr_ui/build/generated/source/rs/
ocr_ui/build/intermediates/check-manifest/
ocr_ui/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
ocr_ui/build/intermediates/incremental/packageDebugResources/stripped.dir/
ocr_ui/build/intermediates/public_res/
ocr_ui/build/intermediates/rs/
ocr_ui/build/intermediates/shader_assets/
ocr_ui/build/intermediates/shaders/
ocr_ui/build/tmp/
/app/release/
